div {
    color: white;
    background-color: black;
    padding: 10px;
    height: 100px;
    width: auto;
    border: 20px solid #9b51e0;
    margin: 100px;
    box-sizing: border-box;
}

p {
    color: blue;
     background: orange;
     padding: 20px;
     padding: 10px;
     height: 100px;
     width: auto;
     border: 20px solid #9b51e0;
     margin: 100px;
     box-sizing: border-box;
}

* {
    border: 20px solid rgba(19, 81, 167, 0.583);
    padding: 10px;
    height: 100px;
    width: auto;
    border: 20px solid #9b51e0;
    margin: 100px;
    box-sizing: border-box;
}